.container {
    max-width: 600px;
    height: 500px;
    border: 2px solid rgba(4, 182, 99, .3);
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container>div {
    border: 1px solid rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.number:hover, 
.operator:hover, 
#clear:hover, 
#back:hover  {
    background-color: rgba(0, 0, 0, 0.02);;
}

.number:active, 
.operator:active, 
#clear:active, 
#back:active  {
    background-color: rgba(0, 0, 0, 0.05);;
}

.container #display {
    grid-area: 1 / 1 / 3 / 5;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
    font-size: 32px;
}

#display #bottom {
    color: rgba(0, 0, 0, 0.2);
}

.container #back {
    grid-column: 1 / 3;
}

.container #equal {
    grid-column: 3 / 5;
    background-color: rgb(8, 124, 201);
    color: whitesmoke;
    font-weight: bold;
    font-size: 32px;
}


.container #equal:hover {
    background-color: rgba(8, 124, 201, 0.95);
}

.container #equal:active {
    background-color: rgba(8, 124, 201, 0.9);
}

#clear {
    color: rgb(233, 10, 96);
    font-weight: bold;
}

.container .operator {
    color: rgb(8, 124, 201);
    font-weight: bold;
    font-size: 28px;
}

.container #back {
    color:rgb(4, 182, 99);
    font-size: 28px;
}